{% extends 'base.html' %}
{% load static %}
{% block content %}
 

<main>
    <header>
        <h1>Comparação de CriptoMoedas</h1>
        <nav class="menu">
            <a href="#dashboard">DashBoard</a>
            <a href="#grafico">Grafico</a>
        </nav>
    </header>
    <section id="dashboard">
        <img src="https://cdn-icons-png.flaticon.com/512/894/894124.png" height=100>
        <h2>Dashboard</h2>
        <table border="1">
            <tr>
                <th>Moeda</th>
                <th>Valor(R$)</th>
            </tr>
            {% for dado in cotacoes %}
                {% for k, v in dado.items %}
                <tr>
                    <td>{{ k }}</td>
                    <td>R$ {{ v.BRL }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        
        </table>
    <div class="botao-update">
        <a href="{% url 'update' %}">Atualizar</a>
    </div>       
        
    </section>
    <section id="grafico">
        <h2>Grafico Semanal</h2>
        {% comment %} <img src="https://help.smartsheet.com/sites/default/files/inline-images/Pie%20Chart%20JT.png" width=500>
        <img src="media/1650390974488.jpg"> {% endcomment %}
    </section>
</main>

{% include 'partials/footer.html' %}
{% endblock %}