{% extends 'base.html' %}
{% load static %}
{% block content %}
 


<main>
        <header>
            <h1>Comparação de CriptoMoedas</h1>
        </header>
        
        <div class="dashboard">
            <h2>Dashboard</h2>
            <ul>
                <li><a>BitCoin: $</a></li>
                <li><a>Etherium: $</a></li>
                <li><a>Binance: $</a></li>
                <li><a>XPR(Ripple): $</a></li>
            </ul>
        </div>
        <div class="grafico">
            <h2>Grafico Semanal</h2>

        </div>

    </main>


{% include 'partials/footer.html' %}
{% endblock %}