{% extends 'base.html' %}
{% load static %}
{% block content %}
 

<main>
    <header>
        <h1>Comparação de CriptoMoedas</h1>
        <nav class="menu">
            <a href="#dashboard">DashBoard</a>
            <a href="#grafico">Grafico</a>
        </nav>
    </header>
    <section id="dashboard">
        <img src="https://cdn-icons-png.flaticon.com/512/894/894124.png" height=100>
        <h2>Dashboard</h2>
        <table border="1">
            <tr>
                <th>Moeda</th>
                <th>Valor(R$)</th>
            </tr>
            {% for dado in cotacoes %}
                {% for k, v in dado.items %}
                <tr>
                    <td>{{ k }}</td>
                    <td>R$ {{ v.BRL }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        
        </table>
    <div class="botao-update">
        <a href="{% url 'update' %}">Atualizar</a>
    </div>       
        
    </section>
    <section id="grafico">
        <h2>Grafico Semanal</h2>
        <img src="https://user-images.githubusercontent.com/49497668/185507984-4b4540fb-d8a0-451b-ab36-dff4b9e053df.jpg">
        <img src="https://user-images.githubusercontent.com/49497668/185507975-83f91d9a-03b0-4c96-a086-32a810c9d46c.jpg">
        <img src="https://user-images.githubusercontent.com/49497668/185507826-e52c3b31-5480-4f64-be07-e517aea15da3.jpg">
    </section>
</main>

{% include 'partials/footer.html' %}
{% endblock %}
