/* ----Reset Css ----*/
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
/* ----corpo da Pagina ----*/
body {
    background: #252525;
    margin-left: auto;
    margin-right: auto;
}
/* ----cabeçalho ----*/

header h1 {
    font-size: 16pt;
    margin: 1em;
    color: #f2f2f2;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    background: #181818;
}

/* Menu */
.menu {
    height: 50px;
    display: block;
}

.menu a {
    padding: 0.5rem;
    border: solid #353535 1px;
    text-decoration: none;
    color: #f2f2f2;
    background: #181818;
    border-radius: 10%;
    margin-left: .2em;
}

.menu a:hover {
    background: #252525;
}
main h2 {
    color: coral;
}
section {
    margin-top: 2em;
    width: 100%;
    min-height: 80vh;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
/* ----Área do dashboard ----*/
#dashboard {
    padding-top: 10%;
    text-align: center;
    background: #353535;

}

#dashboard a {
    padding: 1em 5em 1em 5em;
    margin-top: 20px;
    text-decoration: none;
    background: coral;
    border: 0.5px salmon;
    border-radius: 5%;
}
/*-----------tabela---------*/
table {
    margin-top: 5%;
    color: darkorange;
    margin-left: auto;
    margin-right: auto;
}

table td {
    padding: 1em 5em 1em 5em;
    border: solid 1px #404040;
    background: #f5f5f5;
}

table td:hover {
    background: #ffc670;
}

.botao-update {
    padding: 30px;
}
#grafico{
    padding-top: 10%;
    text-align: center;
    background: #f2f2f2;
}

footer {
    padding: 2%;
    background: #181818;
    color: #7e7d7d;
    position: fixed;
    bottom: 0;
    width: 100%;
}